@page "/anmeldung"
@layout LoginLayout
@inherits SinDarElaVerwaltung.Pages.AnmeldungComponent

@using Radzen
@using Radzen.Blazor
@using SinDarElaVerwaltung.Models.DbSinDarEla
<PageTitle>Anmeldung</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenLogin AllowRegister="false" AllowResetPassword="false" AutoComplete="true" LoginText="Anmelden" PasswordRequired="Kennwort erfoderlich" PasswordText="Kennwort" UserRequired="Benutzername erforderlich" UserText="Benutzername" Login="@Login0Login">
        </RadzenLogin>
        <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" ShowValue="false" style="margin-bottom: 30px; margin-right: ; margin-top: 30px" Value="100" Visible="@bolSichtbarProgressBar">
        </RadzenProgressBar>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
