@page "/login"
@layout LoginLayout
@inherits SinDarElaVerwaltung.Pages.LoginComponent

@using Radzen
@using Radzen.Blazor
@using SinDarElaVerwaltung.Models.DbSinDarEla
@using Microsoft.AspNetCore.Identity;
@using SinDarElaVerwaltung.Models
@using Microsoft.AspNetCore.Authorization
<PageTitle>Login</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Action="@($"account/login?redirectUrl={redirectUrl}")" Data="@("login")" Method="post">
          <ChildContent>
            <RadzenLogin AllowRegister="false" AllowResetPassword="false" AutoComplete="false" LoginText="Anmelden" PasswordRequired="Passwort erforderlich" PasswordText="Passwort" UserRequired="Benutzername erforderlich" UserText="Benutzername">
            </RadzenLogin>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
