@page "/meldung-loeschen/{strMeldung}"
@layout MainLayout
@inherits SinDarElaVerwaltung.Pages.MeldungLoeschenComponent

@using Radzen
@using Radzen.Blazor
@using SinDarElaVerwaltung.Models.DbSinDarEla
@using Microsoft.AspNetCore.Identity;
@using SinDarElaVerwaltung.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<PageTitle>MeldungLoeschen</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="dynamic">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-12" >
                <RadzenLabel style="color: rgb(33, 37, 41); display: block; font-size: 18px; font-weight: normal" Text="@($"{(strMeldung)}")">
                </RadzenLabel>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3 justify-content-end d-flex" >
                <RadzenButton ButtonStyle="ButtonStyle.Danger" ButtonType="ButtonType.Submit" Icon="delete_forever" Text="Löschen" Click="@Button0Click">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Abbruch" Click="@Button1Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
