/*
  You can add custom CSS rules or import files here.
*/


/* Import the Radzen CSS files */
@import 'fluent.css';
/*
@import './standard.css';
*/
 
#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* Ab hier Einstellungen für SinDarEla                                                                                 */
/* ------------------------------------------------------------------------------------------------------------------- */


/* --- Der Icon für den DataPicker wird falsch angezeigt. Mit dieser Einstellung wird er wieder in das Eingabefeld gesetzt --- */
.rz-datepicker-trigger {
  right: 150px;
}

/* --- Kopfzeile: verlaufend dunkel --- */
.header {
  background-image: linear-gradient(#F1903C, #d66808);
}

.kopfzeileVerlaufend {
  background-image: linear-gradient(#F1903C, #d66808);
}

ul.rz-profile-menu {
  background-color: transparent;
}

.rz-panel {
  background: transparent;
  border-radius: 4px;
  box-shadow: none;
}